
:root{
    --systemWhite: rgba(255, 255, 255, 1);
    --system1: rgba(0, 0, 0, 1);
    --system1Opacity: rgba(0, 0, 0, 0.2);
    --system3: rgba(51, 56, 73, 1);
    --system7: rgba(119, 126, 151, 1);
    --system9: rgba(152, 157, 173, 1);
    --systemE: rgba(233, 235, 238, 1);
    --systemF: rgba(243, 248, 253, 1);

    --bgF9: rgba(246, 247, 251, 1);


    /*font*/
    --fontTitle: 64px;
    --fontH0: 40px;
    --fontH1: 30px;
    --fontH3: 25px;
    --fontH4: 18px;
    --fontP: 15px;

    /*lineHeight*/
    --lh12: 120%;
    --lh16: 160%;
}

.main_bg_mobile{display:none;}

@media (max-width: 1440px) {
    :root{
        --fontTitle: 50px;
        --fontH0: 38px;
        --fontH1: 28px;
        --fontH3: 22px;
        --fontH4: 15px;
        --fontP: 13px;
    }
}

/*icon*/

.logo_white {
    width: 65px;
    height: 53px;
    background: url('/images/logo.png') no-repeat;
    cursor: pointer;
    background-size:100%;
}
.logo_black {
    width: 65px;
    height: 53px;
    background: url('/images/logo.png') no-repeat;
    background-size: 100%;
    cursor: pointer;
}
.logo_gray {
    width: 70px;
    height: 20px;
    background: url('/images/logo.png') center no-repeat;
    background-size: 100%;
    cursor: pointer;
}

button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.primary-btn {
    color: #FFFFFF;
    background: #7f31ff;
    border: none;
    border-radius: 6px;
    transition-duration: 300ms;
}

.primary-btn:hover {
    background: #6000FD;
}

.secondary-btn {
    color: #000;
    background: #FFF;
    border: 1px solid #DBDDE1;
    border-radius: 2px;
    transition-duration: 300ms;
}

.nav-btn {
    text-decoration: none;
    color: #000000;
    background: transparent;
}

.nav-btn:hover {
    color: #7f31ff;
}

.account-btn {
    color: #666A74;
    height: 40px;
    min-width: 40px;
    font-size: 12px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue-btn {
    border: 2px solid #91D0E9;
}

.green-btn {
    border: 2px solid #22B3A9;
}

.btn-notification {
    border-radius: 50%;
    width: 18px;
    height: 18px;
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 8px;
    background: #78C474;
    color: white;
    padding: 2px 0 0;
}

.contact-form input {
    width: 100%;
    background: transparent;
    height: 70px;
    border:1px solid white;
    color: white;
    padding: 25px
}

.contact-form input::placeholder {
    color: #FFFFFF;
    opacity: 0.8;
}

::placeholder {
    opacity: 0.4;
}

.text-bold {
    font-weight: 700 !important;
}

.text-orange {
    color: #F2A07A;
}

.text-gray {
    color: #7F7F7F !important;
}

.text-light-gray {
    color: #666A74 !important;
}

:focus-visible {
    outline: none;
}

.footer-text span {
    white-space: break-spaces;
}

::-webkit-scrollbar {
    background: transparent !important;
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 20%;
    background-color: #d5d6da40;
    border: 2px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #6c6f77;
}


.searchbar > input {
    margin-right: 8px;
    border: 1px solid #4232C240;
    border-radius: 100px;
    background-color: #ffffff;
    padding: 4px 20px;
    width: 35%;
    min-width: 150px;
    font-size: 14px;
}
.searchbar > input:focus-visible {
    outline: none;
}

.filter-box input, .filter-box select {
    height: 50px;
    padding: 10px 20px;
    font-size: 16px;
    color: #4D505C;
    background: #ffffff;
    border: 1px solid #DEDEDE;
    border-radius: 6px;
}

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 15px;
}

.swiper-one .swiper-slide {
    padding-bottom: 24px;
    flex-direction: column;
    float:left;
    margin-right:100px;
    cursor:pointer;
}

.swiper-btn {
    background: black;
    padding: 10px;
    width: 50px !important;
    height: 50px !important;
    color: white !important;
    opacity: 50%;
}

.swiper-button-next {
    right: 20px !important;
}

.swiper-button-prev {
    left: 20px !important;
}

.swiper-pagination-bullet-active {
    background: #6000FD !important;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-prev:after{content:'prev';}
.swiper-button-next:after, .swiper-rtl .swiper-button-next:after{content:'next';}

.event-name {
    font-size: 24px;
    font-weight: 600;
    margin: 24px 0 8px;
}

section#event{padding-top:60px;}

.swiper-slide:hover p {
    color: #7f31ff;
}

.account-navbar, .navbar-top-btn {
    display: flex;
}

.navbar-brand img {
    height: 60px;
}

.room-info {
    background: #fff;
    position: absolute;
    top: 10%; right: 15%;
    min-width: 500px;
    min-height: 200px;
}

.room-info > div:nth-child(2) {
    padding: 30px 50px
}

.footer-text {
    width: 65%;
}

.footer-sns {
    width: 35%;
    font-size: 25px;
    column-gap: 40px;
}

.search-btn {
    min-width: 300px;
}

.nav-menu .main-menu {
    max-width: fit-content;
    align-items: center;
}

.main-banner {
    height: calc(100vh - 150px);
    max-height: 880px;
    min-height: 600px;
}

.arrows {
    position: absolute;
    color: white;
    min-width: 1137px;
    top: 430px;
}

.arrows > div {
    width: 130px;
    height: 130px;
    background: rgba(16, 16, 16, 0.3);
    border-radius: 50%;
    color: white;
}

.bn-input-group{position:absolute; left:50%; transform:translate(-50%, 220px);}
input.form-control{width: 940px;
    /*height: 22px;*/
    border-radius: 10px;
    border: 1px solid #999999;
    font-size:16px; padding:20px 60px 20px 20px;}

button.btn.bn-btn-secondary{text-indent: -9999px;
    background-image: url(/images/search.png);
    background-size: 100% auto;display: inline-block;
    width: 24px;
    height: 25px;
    border: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-20px, -50%);
    cursor: pointer;

}

.card.shadow-sm{cursor: pointer;}
.card > img{width:100%;}
.card-text{font-size: 24px; font-weight: 600; margin: 5px 0;}
.card-text-des{font-size: 16px; font-weight: 300; padding: 10px 0;
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow:hidden;
}
.text-muted{font-size:15px; padding-right:30px;}
.text-muted .number{font-weight:bold; color:#000000; padding-left:5px;}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        width: 1200px;
    }

    .py-5 {
        padding: 0;
    }

    .feat-cards > div {
        flex: 1;
    }

    .nav-item {
        text-align: end;
        padding-left: 50px;
    }

    button.navbar-toggler {
        position: absolute;
        right: 20px;
        top: 12px;
    }

    .nft-text {
        position: absolute;
        color: white;
        font-size: 30px;
        font-weight: 900;
        top: 10px;
        left: 20px;
    }

    /*.row{display:flex; flex-wrap: wrap; width:1200px; margin:10px;}
    .col{width:33.3333333333%;}
    .row-cols-md-3>* {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }*/
    .col {
        padding: 0 8px 6px;
    }
}

@media (min-width: 768px) {
    .row-cols-md-3 > * {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }
}

@media (max-width: 1440px) {
    .bn-input-group {
        transform: translate(-50%, 160px);
    }

    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1200px;
    }

}

@media (max-width: 1200px) {
    .sub_company_img {width:90%;}
}

@media (max-width: 1100px) {
    .logo_gray {
        width: 70px;
        height: 18px;
    }

    .bn-input-group {
        transform: translate(-50%, 110px);
    }

    input.form-control{width:700px; padding:16px 60px 16px 16px;}

}
.icon_16_down {
    width: 16px;
    height: 16px;
    background: url('/images/icon_16_down.svg') center no-repeat;
    cursor: pointer;
}
.icon_40_down {
    width: 40px;
    height: 40px;
    background: url('/images/icon_40_down.svg') center no-repeat;
    cursor: pointer;
}
@media (max-width: 1440px) {
    .icon_40_down {
        width: 32px;
        height: 32px;
        background-size: 100%;
    }
}
.icon_40_arrow {
    width: 40px;
    height: 40px;
    background: url('/images/icon_40_arrow.svg') center no-repeat;
    cursor: pointer;
    flex-shrink: 0;
}

@media (max-width: 768px) {
    .bn-input-group {
        transform: translate(-50%, 75px);
    }
    input.form-control {
        width:450px; font-size:14px; padding:12px 50px 12px 12px;
    }
    /*button.btn.bn-btn-secondary{width:16px; height:17px;}*/

}

@media (max-width: 540px) {
    .icon_40_arrow {
        display: none;
    }

    .bn-input-group {
        transform: translate(-49%, 150px);
        width:70%;
    }
    input.form-control {
        width:100%;
    }

    .businessWrap{gap:0;}
    /*button.btn.bn-btn-secondary{transform: translate(17px, -50%);}*/
}
.icon_24_phone {
    width: 14px;
    height: 14px;
    background: url('/images/icon_24_phone.svg') center no-repeat;
    background-size: 100%;
}
.icon_24_message {
    width: 14px;
    height: 14px;
    background: url('/images/icon_24_message.svg') center no-repeat;
    background-size: 100%;
}

@media (max-width: 1100px) {
    .icon_24_message, .icon_24_phone {
        width: 18px;
        height: 18px;
        background-size: 100%;
    }
}
.icon_24_menu {
    width: 24px;
    height: 24px;
    background: url('/images/icon_24_menu.svg') center no-repeat;
    cursor: pointer;
}
.icon_24_menu_black {
    width: 24px;
    height: 24px;
    background: url('/images/icon_24_menu_black.svg') center no-repeat;
}

.my_page{
    width: 24px;
    height: 24px;
    background: url('/images/profile-icon-white.svg') center no-repeat;
    background-size: contain;
}
.my_page_black{
    width: 24px;
    height: 24px;
    background: url('/images/profile-icon.svg') center no-repeat;
    background-size: contain;
}

.log_in{
    width: 24px;
    height: 24px;
    background: url('/images/user.svg') center no-repeat;
    cursor: pointer;
    background-size: contain;
}
.log_in_black {
    width: 24px;
    height: 24px;
    background: url('/images/user_black.svg') center no-repeat;
    background-size: contain;
}
.icon_24_ex {
    width: 24px;
    height: 24px;
    background: url('/images/icon_24_ex.svg') center no-repeat;
    position: absolute;
    top: 18px;
    right: 24px;
    cursor: pointer;
}

.icon_120_trophy {
    width: 280px;
    height: 280px;
    background: url('/images/gal_img_1.png') center no-repeat;
    flex-shrink: 0;
}
.icon_120_award {
    width: 280px;
    height: 280px;
    background: url('/images/gal_img_2.png') center no-repeat;
    flex-shrink: 0;
}
.icon_120_pin {
    width: 280px;
    height: 280px;
    background: url('/images/gal_img_3.png') center no-repeat;
    flex-shrink: 0;
}

.icon_120_pin_2 {
    width: 280px;
    height: 280px;
    background: url('/images/gal_img_4.png') center no-repeat;
    flex-shrink: 0;
}

@media (max-width: 1440px) {
    .icon_120_trophy, .icon_120_award, .icon_120_pin, .icon_120_pin_2 {
        width: 200px;
        height: 200px;
        background-size: 100%;
    }
}

.mockup_pad_png, .mockup_pad_en_png, .mockup_pad_jp_png, .mockup_pad_cn_png, .mockup_pad_tw_png {
    width: 603px;
    height: 422px;
    flex-shrink: 0;
}
.mockup_pad_png {
    background: url('/images/cont1_img_1.jpg') center no-repeat;
    background-size: 100%;
}
.mockup_pad_en_png {
    background: url('/images/cont1_img_1.jpg') center no-repeat;
    background-size: 100%;
}
.mockup_pad_jp_png {
    background: url('/images/cont1_img_1.jpg') center no-repeat;
    background-size: 100%;
}
.mockup_pad_cn_png {
    background: url('/images/cont1_img_1.jpg') center no-repeat;
    background-size: 100%;
}
.mockup_pad_tw_png {
    background: url('/images/cont1_img_1.jpg') center no-repeat;
    background-size: 100%;
}

.mockup_phone_png, .mockup_phone_en_png, .mockup_phone_jp_png, .mockup_phone_cn_png, .mockup_phone_tw_png {
    width: 600px;
    height: 430px;
    flex-shrink: 0;
}

.mockup_phone_png {
    background: url('/images/cont1_img_2.jpg') center no-repeat;
    background-size: 100%;
}
.mockup_phone_en_png {
    background: url('/images/cont1_img_2.jpg') center no-repeat;
    background-size: 100%;
}
.mockup_phone_jp_png {
    background: url('/images/cont1_img_2.jpg') center no-repeat;
    background-size: 100%;
}
.mockup_phone_cn_png {
    background: url('/images/cont1_img_2.jpg') center no-repeat;
    background-size: 100%;
}
.mockup_phone_tw_png {
    background: url('/images/cont1_img_2.jpg') center no-repeat;
    background-size: 100%;
}

.ticket-banner{background: url('/images/contact_img_1.jpg') center no-repeat;
    background-size: auto 75%; }


.page-banner{background: url('/images/contact_img_2.jpg') center no-repeat;
    background-size: auto 75%; }


@media (max-width: 1440px) {
    .businessContents .mockup_pad_png, .businessContents .mockup_pad_en_png, .businessContents .mockup_pad_cn_png, .businessContents .mockup_pad_tw_png, .businessContents .mockup_pad_jp_png {
        width: 480px;
        height: 280px;
        background-size: 100%;
    }

    .businessContents .mockup_phone_png, .businessContents .mockup_phone_en_png, .businessContents .mockup_phone_jp_png, .businessContents .mockup_phone_cn_png, .businessContents .mockup_phone_tw_png {
        width: 480px;
        height: 280px;
    }
}

@media (max-width: 540px) {
    .businessContents .mockup_pad_png, .businessContents .mockup_pad_en_png, .businessContents .mockup_pad_cn_png, .businessContents .mockup_pad_tw_png, .businessContents .mockup_pad_jp_png {
        width: 276px;
        height: 140px;
        background-size: 100%;
    }

    .businessContents .mockup_phone_png, .businessContents .mockup_phone_en_png, .businessContents .mockup_phone_jp_png, .businessContents .mockup_phone_cn_png, .businessContents .mockup_phone_tw_png {
        width: 276px;
        height: 140px;
        background-size: 100%;
    }
    .businessSection{gap:50px;}
    .businessContentsText{margin-top:30px;}
    .businessContents .mockup_pad_png, .businessContents .mockup_pad_en_png, .businessContents .mockup_pad_cn_png, .businessContents .mockup_pad_tw_png, .businessContents .mockup_pad_jp_png{height:200px;}
    .businessContents .mockup_phone_png, .businessContents .mockup_phone_en_png, .businessContents .mockup_phone_jp_png, .businessContents .mockup_phone_cn_png, .businessContents .mockup_phone_tw_png{height:200px;}
}

@media (max-width: 320px) {
    .businessContents .mockup_pad_png, .businessContents .mockup_pad_en_png, .businessContents .mockup_pad_cn_png, .businessContents .mockup_pad_tw_png, .businessContents .mockup_pad_jp_png {
        width: 232px;
        height: 164px;
        background-size: 100%;
    }
    .businessContents .mockup_phone_png, .businessContents .mockup_phone_en_png, .businessContents .mockup_phone_jp_png, .businessContents .mockup_phone_cn_png, .businessContents .mockup_phone_tw_png {
        width: 230px;
        height: 313px;
        background-size: 100%;
    }

    .add .businessContents{height:auto;}
    .businessContentsText{margin-top:80px;}
    .businessSection.addArea:last-child{margin-top:-60px;}
    .businessSection.addArea{height:400px;}
    .businessContents .mockup_pad_png, .businessContents .mockup_pad_en_png, .businessContents .mockup_pad_cn_png, .businessContents .mockup_pad_tw_png, .businessContents .mockup_pad_jp_png{height:200px;}
    .businessContents .mockup_phone_png, .businessContents .mockup_phone_en_png, .businessContents .mockup_phone_jp_png, .businessContents .mockup_phone_cn_png, .businessContents .mockup_phone_tw_png{height:200px;}
}

.language_white{
    width: 24px;
    height: 24px;
    background: url('/images/icon_24_language.svg') center no-repeat;
    background-size: 100%;
    cursor: pointer;
}
.language_black{
    width: 24px;
    height: 24px;
    background: url('/images/icon_24_language_black.svg') center no-repeat;
    background-size: 100%;
    cursor: pointer;
}

/* icon */


/*style*/

.main_container {
    width: 100%;
    overflow-x: hidden;
}

.header {
    width: 100%;
    height: 60px;
    background-color: var(--system1Opacity);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    transition: all .3s;
}

.headerDown {
    width: 100%;
    height: 60px;
    background-color: var(--systemWhite) !important;
    border-bottom: 1px solid var(--systemE);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.headerWrap {
    height: 60px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

#nav {
    height: 100%;
}

.subMenuWrap {
    display: none;
    height: 160px;
    width: 100%;
}

.subMenuWrap > div {
    gap: 20px;
}

@media (max-width: 1440px) {
    .header {
        height: 70px;
    }

    .headerWrap {
        height: 70px;
        width: 1060px;
    }
}

@media (max-width: 1100px) {
    .headerWrap {
        height: 60px;
        width: 100%;
        padding: 0 24px;
        box-sizing: border-box;
    }

    .header {
        height: 60px;
    }
    #nav {
        display: none;
    }

}

@-moz-document url-prefix() {
    .header {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.headerSide {
    width: 120px;
    display: flex;
    flex-shrink: 0;
}

.headerSideRight {
    min-width: 130px;
    width: fit-content;
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
}

.menuList {
    display: flex;
    align-items: center;
}

.menuList li {
    margin-right: 110px;
}

.menuList li:last-of-type{
    margin-right: 0;
}

.menuText {
    color: var(--systemWhite);
    font-size: var(--fontP);
    line-height: var(--lh12);
    font-weight: 400;
    cursor: pointer;
    transition: all .2s;
}

.menuTextDown {
    color: var(--system3) !important;
    font-size: var(--fontP) !important;
    line-height: var(--lh12) !important;
    font-weight: 400;
    cursor: pointer !important;
    transition: all .2s !important;
}

.active {
    font-weight: bold;
}

.mobileHeaderIconWrap {
    align-items: center;
    gap: 20px;
    display: none;
}

@media (max-width: 1100px) {
    .mobileHeaderIconWrap {
        display: flex;
    }

    .headerSideRight {
        display: none;
    }
}


.selectBox * {
    box-sizing: border-box;
}
.selectBox {
    position: relative;
    min-width: 85px;
    width: 86px;
    height: 24px;
    border-radius: 4px;
    cursor: pointer;
}

.headerSideRight > .selectBox {
    width: 20px;
}

.dropDownIcon {
    width: 16px;
    height: 16px;
    background: url('/images/icon_16_down.svg') calc(100% - 7px) center no-repeat;
    background-position: center;
    position: absolute;
    top: 4px;
    right: 0px;
    z-index: -1;
    transform: rotate(0deg);
}
.rotate {
    transform: rotate(180deg);
}

.selectBoxDown {
    background: url('/images/icon_16_down_black.svg') calc(100% - 7px) center no-repeat;
    background-position: center;
}

.selectBox .label {
    color: #fff;
    font-size: var(--fontP);
    display: flex;
    /*width: 100%;*/
    justify-content: center;
    align-items: center;
    height: inherit;
    border: 0 none;
    outline: 0 none;
    cursor: pointer;
    padding-left: 8px;
    background-size: auto;
}
.labelDown {
    color: var(--system3) !important;
}

.selectBox .optionList {
    width: 86px;
    max-height: 0;
    background: var(--system1Opacity);
    backdrop-filter: blur(30px);
    border-radius: 4px;
    overflow: hidden;
    -webkit-backdrop-filter: blur(30px);
    color: #fff;
    position: absolute;
    /* top: 68px; */
    top: 50px;
    left: 0;
    transition: all .2s;
}

@-moz-document url-prefix() {
    .selectBox .optionList {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.selectBox.active .optionList {
    max-height: 500px;
    box-shadow: 0 0 2px var(--system1Opacity);
}

.optionListDown {
    background: var(--systemWhite) !important;
    color: var(--system3) !important;
}

.selectBox .optionItem {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    transition: .2s;
}

.optionItem:first-of-type {
    margin-top: 4px;
}

.optionItem:last-of-type {
    margin-bottom: 4px;
}

.selectBox .optionItem:hover {
    background: rgba(0, 0, 0, 0.4);
}

.optionItemDown:hover {
    background: var(--systemE) !important;
}

.selectBox .optionItemA {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 400;
    font-size: var(--fontP);
}

.optionItemAdown {
    color: var(--system7) !important;
}

@media (max-width: 1100px) {
    .selectBox {
        display: none;
    }
}

@media (max-width: 1440px) {
    .selectBox .optionList {
        top: 50px;
    }
}

#banner {
    height: 100%;
    position: relative;
}

.main_bg{width:100%; height:auto;}

.bg {
    /*position: absolute;
    top: 0;
    z-index: 1;*/
    width: 100%;
    max-height: 100vh;
    overflow:hidden;

}
.bg video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

video::-webkit-media-controls {
    display: none !important;
    -webkit-appearance: none;
    visibility: hidden !important;
}

video::-webkit-media-controls-play-button {
    display: none !important;
    -webkit-appearance: none;
    visibility: hidden !important;
}

video::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none;
    visibility: hidden !important;
}

@media (max-width: 540px) {
    .bg{display:flex; justify-content:center; align-items:center;}

    .main_bg_web{display:none;}
    .main_bg_mobile{display:block;}
    .main_bg{width:auto; height:100%;}
}

#slideWrapper {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

#slideWrapper::-webkit-scrollbar {
    display: none;
}

#banner > a {
    position: absolute;
    bottom: 50px;
    left: calc(50% - 20px);
    z-index: 4;
}

#banner li {
    height: 100vh;
    position: relative;
    z-index: 3;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--systemWhite);
    margin-top:200px;
}

#top {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
}

.triger2 {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
}

#banner li h2 {
    width: 100%;
    color: var(--systemWhite);
    font-size: var(--fontTitle);
    line-height: var(--lh16);
    font-weight: bold;
    text-align: center;
}

#banner li h3 {
    color: var(--systemWhite);
    font-size: var(--fontH0);
    line-height: var(--lh16);
    font-weight: bold;
    text-align: center;
    word-break: keep-all;
    margin-top:100px;
    font-size:90px;
}

#banner li .zhBanner {
    font-size: var(--fontH1);
}


#banner li p {
    color: var(--systemWhite);
    font-size: var(--fontH3);
    line-height: var(--lh16);
    font-weight: 400;
    text-align: center;
    margin-bottom: 36px;
    font-size:40px;
    margin-top:-30px;
}

#banner li .jpSmallText {
    font-size: 18px;
    line-height: 200%;
    margin-bottom: 0;
}


@media (max-width: 1100px) {

    #banner li .jpSmallText{
        font-size: 16px;
    }
}

@media (max-width: 375px) {
    #banner li .jpSmallText{
        font-size: 14px;
        margin-bottom: 72px;
    }
}

.dataText {
    margin: 16px 0;
    margin-bottom: 0 !important;
}

.downMobile {
    display: none;
}

@media (max-width: 540px) {
    #banner li {
        padding: 0 24px;
        box-sizing: border-box;
    }

    #banner li h2{
        font-size: var(--fontH1);
    }

    #banner li h3{
        font-size: var(--fontH3);
    }

    #banner li h3:lang(zh-CN), #banner li h3:lang(zh-Hant){
        font-size: var(--fontH4);
        line-height: 200%;
        margin-bottom: 0;
    }

    #banner li p{
        font-size: var(--fontH4);
        line-height: var(--lh16);
        margin-bottom: 24px;
    }

    #banner > a {
        left: calc(50% - 16px);
        bottom: 80px;
    }

    .downWeb {
        display: none !important;
    }
    .downMobile {
        display: block;
    }



}

@media (max-width: 375px) {
    #banner > a {
        bottom: 120px;
    }
}

#company {
    width: 100%;
    min-height: 100vh;
    /* min-height: 100%; */
    background-color: var(--systemF);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 80px 0;
    box-sizing: border-box;
    background-color:#ffffff;
}

.companyTextWrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    /*margin-bottom:70px;*/
    margin-bottom:0;
}

.companyTextWrap h2 {
    width: 100%;
    color: var(--system1);
    font-size: var(--fontH0);
    line-height: var(--lh16);
    font-weight: bold;
    text-align: center;
}

.companyTextWrap h3 {
    width: 100%;
    color: var(--system1);
    font-size: var(--fontH3);
    line-height: var(--lh16);
    font-weight: 400;
    text-align: center;
}

    img.sub_company_img{margin-top:20px;}

.pointList {
    width: 1200px;
    display: flex;
    /* align-items: center; */
    gap: 20px;
    margin:50px auto 110px;
}

.pointListItem {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 44px;
}

@media (max-width: 1440px) {
    #company {
        min-height: 100vh;
        justify-content: center;
        gap: 40px;
        padding: 120px 0 0;
    }

    .companyTextWrap {
        gap: 24px;
    }

    .pointList {
        gap: 40px;
    }

    .pointListItem {
        gap: 36px;
    }

    .pointList {
        width: 1060px;
    }
}

.pointListItemText {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.pointListItemText > h4 {
    color: var(--system3);
    font-size: var(--fontH4);
    line-height: var(--lh16);
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
}

.pointListItemText > div {
    display: flex;
    align-items: flex-end;
    gap: 4px;
}

.pointListItemText > div h2 {
    color: var(--system3);
    text-align: center;
    font-size: var(--fontH1);
    line-height: var(--lh16);
    font-weight: bold;
}

.pointListItemText > div h4 {
    color: var(--system3);
    font-size: var(--fontH4);
    line-height: var(--lh16);
    font-weight: 400;
    text-align: center;
    padding-bottom: 5px;
    box-sizing: border-box;
}

.pointListItemText > div p {
    color: var(--system9);
    font-size: var(--fontP);
    line-height: var(--lh16);
    font-weight: 400;
}

#pointListItemTextEn {
    font-size: var(--fontH4);
}

#pointListItemSubTextEn {
    font-size: var(--fontP);
}

#pointListItemyearEn {
    font-size: var(--fontH4);
    padding-bottom: 0;
}

@media (max-width: 1100px) {
    #company {
        gap: 10px;
        padding: 170px 0 50px;
    }

    .companyTextWrap {
        gap: 16px;
    }

    .companyTextWrap h2 {
        font-size: var(--fontH3);
        white-space: nowrap;
    }

    .companyTextWrap h3 {
        font-size: var(--fontH4);
    }

    .pointList{width:100%;}

    @media (max-width: 320px) {
        .companyTextWrap h3 {
            white-space: normal;
        }

    }

    .pointList {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .pointListItem {
        gap: 24px;
    }

    .pointListItemText {
        gap: 4px;
    }

    .pointListItemText > div h2 {
        font-size: var(--fontH3);
    }

}

#business {
    width: 100%;
    background-color: var(--systemWhite);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-top:0;
}

.businessWrap {
    width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 24px; /*agregado por mi*/

}
.businessSection {
    width: 100%;
    width: 100%;
    /*height: 100vh;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
    height:850px;

}
.businessSection_02{height:650px; justify-content:center;}
.businessSection.addArea{height:600px;}

@media (max-width: 1440px) {

    .businessWrap {
        width: 1060px;
        margin-top:80px;
    }

    .businessSection {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 80px;
        height:500px;
    }
    .businessSection_02{height:500px; justify-content:flex-end;}
    .businessSection.addArea{height:550px;}

    .businessWrap_02{padding-top:0; margin-top:50px;}
}

@media (max-width: 540px) {
    .businessSection.addArea{height:400px;}
    .businessWrap_02 .businessSection.addArea{height:600px; margin-top:0;}
    .businessWrap_02 .businessContents{gap:0;}
    section#event{padding-top:80px;}
    .col{width:360px; margin:0 auto; padding-bottom:20px;}
}

.businessWrap h2 {
    color: var(--system1);
    font-size: var(--fontH0);
    line-height: var(--lh16);
    font-weight: bold;
}

.businessContents {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
}

.businessContentsText{position:relative;}

.businessContentsText h2 {
    color: var(--system1);
    font-size: var(--fontTitle);
    line-height: var(--lh16);
    font-weight: bold;
}

.businessContentsText h3 {
    color: var(--system3);
    font-size: var(--fontH1);
    line-height: var(--lh16);
    font-weight: 400;
    margin: 12px 0 32px 0;
}

.businessContentsText h4 {
    color: var(--system3);
    font-size: var(--fontH4);
    line-height: var(--lh16);
    font-weight: 400;
}

.businessContentsText > a {
    width: 176px;
    height: 64px;
    background-color: var(--system1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px 0 24px;
    box-sizing: border-box;
    margin-top: 40px;
}

.businessContentsText > a p {
    color: var(--systemWhite);
    font-size: var(--fontH4);
    font-weight: bold;
}

.businessContentsText > a.consult_btn{width:220px; position:absolute; bottom:0; left:200px;}

.add > h2{margin-top:-67px;}

@media (max-width: 1100px) {
    #business {
        padding: 20px 0 0;
    }
    .businessSection {
        height: auto;
        display: flex;
        align-items: center;
        gap: 60px;
    }
    .businessWrap {
        width: 100%;
        align-items: center;
        gap: 130px;
        /*padding: 0 24px;*/
        padding: 0 24px 200px 24px; /*agregado por mi*/
        box-sizing: border-box;
    }

    .businessWrap_02 .businessContentsText{margin-top:120px;}

    .businessSection_02{height:650px;}
    .businessSection.addArea:last-child{margin-top:20px;}
    .businessWrap_02{padding-top:0; margin-top:70px;}

    .businessWrap h2 {
        color: var(--system9);
        font-size: var(--fontH4);
    }

    .companyTextWrap h2 {
        color: var(--system9);
        font-size: var(--fontH4);
    }

    .businessContents {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .businessContentsPad {
        flex-direction: column-reverse;
    }

    .businessContentsText {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        z-index: 99;
    }

    .businessContentsText h2 {
        color: var(--system1);
        font-size: var(--fontH3);
    }

    .businessContentsText h3 {
        color: #000;
        font-size: 15px;
        text-align: center;
        margin: 4px 0 24px 0;
    }

    .businessContentsText h4 {
        font-size: 13px;
        text-align: center;
        white-space: initial;
        word-break: keep-all;
    }

    .businessContentsText > a {
        width: 220px;
        height: 58px;
        border-radius: 58px;
        /* margin-top: 40px; */
    }

    .businessContentsText > a.consult_btn{position:inherit; bottom:inherit; left:inherit;}
}

@media (max-width: 540px) {
    .businessWrap {
        gap: 0;
    }
}

#news {
    width: 100%;
    min-height: 700px;
    background-color: var(--systemWhite);
    display: flex;
    align-items: start;
    justify-content: center;
    box-sizing: border-box;
    padding-bottom:110px;
    padding-top:0;
    margin-bottom:-20px;
}
#contact {
    width: 100%;
    background-color: var(--systemWhite);
    display: flex;
    justify-content: center;
    margin-bottom:-20px;
}
.newsWrap {
    width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.newsWrap h2 {
    color: var(--system1);
    font-size: var(--fontH0);
    line-height: var(--lh16);
    font-weight: bold;
}
.
.newsWrap span {
    color: var(--system1);
    font-size: var(--fontH3);
    font-weight: 400;
}

.newsContents {
    width: 100%;
    /* min-height: 442px; */
    min-height: 378px;
    display: flex;
    flex-direction: column;
}

.newsContents li{
    display: none;
}

.newsContents li.active{
    display: block;
}

.newsContentsItem {
    width: 100%;
    border-bottom: 1px solid var(--systemE);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    /* padding: 24px 0; */
    padding: 16px 0;
    box-sizing: border-box;
    cursor: pointer;
}

/* .newsContents li:nth-of-type(4n+0) .newsContentsItem {
  border-bottom: none;
} */

.newsContentsItemLeft {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.newsContentsItemLeft > h4{
    color: var(--system3);
    font-size: var(--fontH4);
    line-height: var(--lh16);
    font-weight: bold;
}

.newsContentsItemLeft > div {
    display: flex;
    align-items: center;
    gap: 12px;
}

.newsContentsItemLeft > div b {
    color: var(--system7);
    font-size: var(--fontH4);
    line-height: var(--lh16);
    font-weight: bold;
}
.newsContentsItemLeft > div h5 {
    color: var(--system9);
    font-size: var(--fontH4);
    line-height: var(--lh16);
    font-weight: 400;
}

.button-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.button-wrap button {
    border: none;
    cursor: pointer;
}

.prevButton {
    width: 25px;
    height: 45px;
    background: url('/images/pagination-prev.svg') center no-repeat;
    flex-shrink: 0;
}

.nextButton {
    width: 25px;
    height: 45px;
    background: url('/images/pagination-next.svg') center no-repeat;
    flex-shrink: 0;
}

.button-wrap  button:disabled {
    /* display: none; */
    opacity: 20%;
}

.pagination {
    max-width: 100%;
    display: flex;
    align-items: center;
    margin: 0 16px;
}

.pagination li {
    display: flex;
    margin-right: 16px;
}

.pagination li:last-of-type {
    margin-right: 0;
}

.pagination li a {
    width: 45px;
    height: 45px;
    border-radius: 45px;
    background: #fff;
    color: var(--system9);
    /* font-size: var(--fontH4); */
    font-size: var(--fontP);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s all;

}

.pagination li a:hover {
    background: var(--bgF9);
}

.pagination li.active a {
    color: #0069E4;
}

@media (max-width: 1440px) {
    /* #news {
      padding: 80px 0;
    } */
    .newsWrap {
        width: 1060px;
    }
    .newsContents {
        min-height: 340px;
    }

    #news{padding-bottom:0; margin-bottom:-194px; margin-top:62px;}
}

@media (max-width: 1100px) {
    #news {
        height: auto;
        flex-direction: column;
        padding: 20px 0 0;
        margin-top:-100px;
    }

    .addArea{margin-top:60px;}

    .newsWrap {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: calc(60px - 24px);
        padding: 0 24px 200px 24px;
        box-sizing: border-box;
        padding-bottom:200px;
        margin-top:155px;
    }

    .newsContentsItem {
        padding: 24px 0;
    }

    .newsWrap h2 {
        color: var(--system9);
        font-size: var(--fontH4);
    }

    .newsContents {
        width: 100%;
        min-height: 0px;
        display: flex;
        flex-direction: column;
        padding-right: 0;
    }

    .newsContentsItemLeft > div b {
        font-size: 13px;
    }
    .newsContentsItemLeft > div h5 {
        font-size: 13px;
    }
    .newsContentsItemLeft h4 {
        font-size: 15px;
        white-space: break-spaces;
        word-break: keep-all;
    }

    .newsContentsItemLeft h4:lang(zh-CN), .newsContentsItemLeft h4:lang(zh-Hant) {
        font-size: 15px;
        white-space: break-spaces;
        word-break: normal;
    }

    .button-wrap {
        margin-top: 8px;
    }

    .prevButton {
        width: 18px;
        height: 32px;
    }

    .nextButton {
        width: 18px;
        height: 32px;
    }

    .pagination {
        margin: 0 12px;
    }

    .pagination li {
        margin-right: 12px;
    }

    .pagination li a {
        width: 32px;
        height: 32px;
        font-size: var(--fontP);
    }

    .pagination li a:hover {
        background: none;
    }

}

#careers {
    width: 100%;
    min-height: 100vh;
    background-color: var(--systemF);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 200px 0;
    box-sizing: border-box;
}

#careers h2 {
    color: var(--system1);
    font-size: var(--fontTitle);
    line-height: var(--lh16);
    font-weight: bold;
}
#careers .zhJoin {
    margin-bottom: 80px;
}


#careers h3 {
    width: 100%;
    color: var(--system1);
    font-size: var(--fontH3);
    line-height: var(--lh16);
    font-weight: 400;
    text-align: center;
    margin: 20px 0 60px 0;
}

#careers a {
    width: 300px;
    height: 80px;
    background-color: var(--system1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--systemWhite);
    font-size: var(--fontH4);
    line-height: var(--lh16);
    font-weight: bold;
}

@media (max-width: 1440px) {

    #careers a {
        width: 280px;
        height: 72px;
        border-radius: 72px;
        white-space: nowrap;
    }
}

@media (max-width: 1100px) {
    #careers {
        min-height: 50vh;
        padding: 40px 24px;
    }

    #careers h2 {
        color: var(--system1);
        font-size: var(--fontH1);
    }

    #careers .zhJoin {
        margin-bottom: 56px;
    }

    #careers h3 {
        font-size: var(--fontP);
        text-align: center;
        margin: 8px 0 32px 0;
    }

    #careers a {
        max-width: 300px;
        width: 100%;
        height: 58px;
        border-radius: 58px;
    }

    section#event{padding-top:160px;}
}

footer {
    width: 100%;
    background-color: var(--systemWhite);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    box-sizing: border-box;
    margin-top:100px;
}

.footerWrap {
    width: 1200px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 32px;
}

.footer-left {
    display: flex;
    align-items: flex-start;
    gap: 72px;
}

.footer-logo {
    width: 65px;
    height: 53px;
    background: url('/images/logo.png') center no-repeat;
    background-size: 100%;
    display: block;
}

.footer-left-info-wrap {
    display: flex;
    flex-direction: column;
}

.footer-left-info-wrap p {
    font-size: 13px;
    line-height: 200%;
    color: var(--system1);
}

.footer-left-info-contact {
    display: flex;
    align-items: center;
    margin-top:20px;
}

.footer-left-info-contact > div {
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-size:13px;
}

.footer-left-info-contact > div a {
    color: var(--system1);
    font-size: 13px;
    line-height: 200%;
    margin-left: 8px;
}

.go_btn > a, .new_go_btn > a{
color: #999999;
width: 210px;
height: 50px;
border: 1px solid #afafaf;
display: inline-block;
line-height: 50px;
text-align: center;
border-radius: 30px;
}

.new_go_btn{
    display:flex; justify-content:center; margin-top:60px;
    }

.footer-sns-wrap {
    display: flex;
    align-items: center;
}

.footer-sns-logo {
    width: 32px;
    height: 32px;
    display: block;
    flex-shrink: 0;
    margin-left: 24px;
}

.footer-sns-logo > img {
    width: 32px;
    height: 32px;
    display: block;
    /* transition: .3s all; */
}

/* .footer-sns-logo > img:hover {
  opacity: 50%;
} */


@media (max-width: 1440px) {
    .footerWrap {
        width: 1060px;
        gap: 24px;
    }
}

@media (max-width: 1100px) {

    footer {
        padding: 54px 0 24px;
        margin-top:40px;
    }

    .footerWrap {
        width: 100%;
        gap: 24px;
        padding: 0 24px;
        box-sizing: border-box;
        flex-direction: column;
    }

    .footer-left {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .footer-left-info-wrap {
        width: 100%;
    }

    .footer-left-info-contact {
        margin-top: 8px;
    }

    .footer-left-info-contact > div {
        margin-right: 16px;
    }

    .footer-left-info-contact > div a {
        margin-left: 6px;
    }

    .footer-sns-logo {
        width: 24px;
        height: 24px;
        margin-left: 0;
        margin-right: 20px;
    }

    .footer-sns-logo > img {
        width: 24px;
        height: 24px;
    }
}

#mobileNav, #mobileLang {
    width: 100%;
    height: 100vh;
    background-color: var(--system1Opacity);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    display: none;
}

@-moz-document url-prefix() {
    #mobileNav, #mobileLang {
        background-color: rgba(0, 0, 0, 0.7);
    }
}

#mobileNav > ul, #mobileLang > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 54px;
    padding-bottom: 40px;
    box-sizing: border-box;
}

#mobileNav > ul li > a, #mobileLang > ul li > a {
    color: var(--systemWhite);
    font-size: var(--fontH4);
    line-height: var(--lh16);
    font-weight: 400;
}

.resultBody {
    width: 100%;
    height: 100vh;
    background-color: var(--systemWhite);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.jpSectionTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.jpSectionTitle h2 {
    color: var(--system1);
    font-size: var(--fontH0);
    line-height: var(--lh16);
    font-weight: bold;
}

.jpSectionTitle span {
    color: var(--system7);
    font-size: var(--fontH4);
    font-weight: bold;
}

@media (max-width: 1100px) {
    .jpSectionTitle {
        align-items: center;
        justify-content: center;
        gap: 4px;
    }
    .jpSectionTitle h2 {
        color: var(--system9);
        font-size: var(--fontH4);
    }

    .jpSectionTitle span {
        color: var(--system9);
        font-size: var(--fontP);
        font-weight: bold;
    }
}

.wordBreak{
    word-break: normal !important;
}

.webText {
    display: block;
}

.mobileText {
    display: none;
}

@media (max-width: 1100px) {
    .webText {
        display: none;
    }

    .mobileText {
        display: block;
    }
}

#sidebar-menu {
    height: 100vh;
    min-height: 800px;
    width: 250px;
    padding: 120px 25px 40px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

#sidebar-menu li:hover {
    cursor: pointer;
}

.sidebar-menu-main > li {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    width: 100%;
    max-width: 200px;
    min-width: 100px;
    height: 40px;
    border-radius: 8px;
    font-size: 16px;
    margin: 5px 0;
    gap: 10px;
}

.sidebar-menu-main > li.active {
    background: #DAE0E4;
}

.sidebar-menu-sub > li {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    width: 100%;
    max-width: 180px;
    min-width: 80px;
    height: 40px;
    font-size: 12px;
    margin: 5px 0 5px 20px;
}
.close-modal{
    background: url(/images/close-icon.svg);
    width: 24px;
    height: 24px;
    border: none;
}

select{
    width: 100%;
    border-radius: 7px;
    border: 1px solid #DEE2E6;
    margin-bottom: 10px;
    padding: 10px;
}